<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
    <!-- bean definitions here -->
    
    
    <!-- autowiring by name -->
    <!--  <bean id="p" class="com.autowiring.DebitCard"></bean>
    <bean id="shopping" class="com.autowiring.Shopping" autowire="byName" ></bean>
    -->
    
     <!-- autowiring byType -->
<!--    <bean id="debit" class="com.autowiring.DebitCard" ></bean>-->
<!--	<bean id="credit" class="com.autowiring.CreditCard" autowire-candidate="false"></bean>-->
<!--	<bean id="shopping" class="com.autowiring.Shopping" autowire="byType" ></bean>-->
    
    
	<bean id="debit" class="com.autowiring.DebitCard" ></bean>
	<bean id="credit" class="com.autowiring.CreditCard" autowire-candidate="false"></bean>
	<bean id="shopping" class="com.autowiring.Shopping" autowire="byType" ></bean>
	
</beans>